body{
    margin: 0px;
}
.navtop{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;

}
.aletra{
    color: #348829;
    padding: 19px;
}
.letra{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 9px;
    display: inline-block;
}
.iconos{
    padding: 6px;
    margin-right: 10px;
}
.menu{
    height: 75px;
    margin-left: 50px;
    margin-top: 10px;
}
.menustyle{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
  
}
.logo{
    margin-left: 30px;
}
.centrar{
    align-content: center;
}
.imgiante{
    width: 100%;
    margin-top: 40px;
}
.imgiante2{
    width: 1600px;
    height: 190px;
    display: block;
}
.iconos2{
    width: 260px;
    height: 150px;
    display: inline-block;
}
.noti1{
    width: 650px;
    height: 350px;
    margin-top: 6px;
    margin-left: 17px;
    vertical-align: top;
}
.noti2{
    width: 900px;
    height: 541px;
    margin-top: 6px; 
}
.noti3{
    width: 320px;
    height: 190px;
    margin-left: 17px;
}
.noti4{
    width: 330px;
    height: 190px;
}
.flex{
    display: flex;
}
.section2{
    width: 280px;
    height: 340px;
    margin: 50px;
}
.margenizq{
    margin-left: 200px;
}
.subtitulo{
    margin-left: 65px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.margenizq2{
    margin-left: 40px;
}
.section3{
    width: 300px;
    height: 160px;
    margin: 25px;
}
.imgiante3{
    height: 400px;
    width: 1600px;
    margin-top: 10px;
    margin-bottom: 170px;
}
.imgrot{
    width: 1595px;
    margin-bottom: 50px;
}
.imgfot{
    width: 1595px;
    margin-top: 15px;
}

